.page {
    margin: 0;
    padding: 0;
    background: #30365b;
}

.page__header {
    margin-bottom: 5%;
    margin-top: 2%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.text--white {
    color: white;
}

.text--blue {
    color: #2f3652;
}

.text--size_l {
    font-size: 24px;
}

.text--size_m {
    font-size: 16px;
}

.text--size_s {
    font-size: 11px;
}

.header__content {
    width: 77.33%;
    margin-left: 14.495%;
}

.header__title {
    width: 30.32%;
    margin: 20px 0 0 0;
    float: left;
}

.text--title {
    letter-spacing: 3px;
}

.header__nav_button--hidden {
    display: none;
}

.top_nav {
    width: 69.64%;
}

.top_nav--visible {
    display: inline-block;
}

.header__nav_button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 24px;
    color: white;
    text-align: right;
}

.menu {
    float: right;
}

.top_nav__item {
    display: inline-block;
    padding: 0 0 0 1em;
}

.top_nav__link {
    text-decoration: none;
    display: inline-block;
}

.page_login {
    margin-right: 8.165%;
}

.login {
    width: 41.80%;
    float: right;
    background: white;
    border: 1px solid cornflowerblue;
    border-radius: 0 15px 15px 0;
    height: 60.75vh;
}

.login__title {
    text-align: center;
    padding-top: 12.495vh;
}

.login__form {
    margin: 0 auto;
}

.form {
    width: 49.98%;
    display: block;
}

.form__input {
    padding: 8px 12px;
    margin: 0 0 20px 0;
}

.input {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: #ECECEC;
}

.form__content--visible {
    display: block;
}

.form__forgot_password_link--hidden {
    display: none;
}

.form__remember_me {
    width: 44.65%;
    display: inline-block;
}

.form__forgot_password {
    width: 52.6%;
    display: inline-block;
    text-align: right;
}

.form__checkbox {
    height: 10px;
    width: 12px;
    background-color: #ECECEC;
    vertical-align: middle;
}

.form__label {
    color: #2f3652;
    font-weight: 600;
}

.forgot_password_link {
    color: #2f3652;
    text-decoration: none;
    border-bottom: 2px solid #ececec;
    font-weight: 600;
}

.form__forgot_password_link {
    margin: 0 auto;
    padding-bottom: 2px;
}

.button {
    width: 100%;
    background-color: #ffb503;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
}

.form__submit,
.sign_up__button {
    margin: 10px 0;
    padding: 8px 20px;
}

.sign_up__button--border {
    color: #30365b;
    background-color: #f7cf6d;
    border: 2px solid #30365b;
}

.sign_up__button--highlight {
    color: white;
    background-color: #30365b;
}

.top_nav__button {
    padding: 8px 3px;
}

.page__sign_up {
    margin-left: 14.495%;
}

.sign_up {
    width: 35.32%;
    background: #f7cf6d;
    border: 1px solid cornflowerblue;
    border-radius: 10px 0 0 10px;
    height: 60.75vh;
}

.content {
    width: 49.98%;
    text-align: center;
}

.sign_up__content {
    margin: 0 auto;
    margin-top: 19.92px;
    padding-top: 12.495vh;
}

.sign_up__title {
    margin: 0;
}